/* General */
:root {
  --main-font-family: "Roboto";
  --secondary-font-family: "Raleway";
  --title-color: #212121;
  --text-color: #757575;
  --main-background-color: #2f303a;
  --blue-color-text: #2196f3;
  --black-color-text: #000000;
  --secondary-background-color: #e5e5e5;
  --team-background-color: #f5f4fa;
  --pure-white-color: #ffffff;
  --another-white-color: #ececec;
  --logo-color--: #afb1b8;
  /* formula */
  --indent: 30px;
  --items: 4;
}

.viasualy-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1;
  height: 1;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.body {
  font-family: "Roboto", sans-serif;
}
@media screen and (min-width: 320px) {
  .body {
    min-width: 320px;
    overflow-x: hidden;
  }
}

/* reset styles */
img {
  display: block;
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  color: currentColor;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h2 {
  margin-bottom: 50px;
}

/* Card Set */
.card-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: var(--indent);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 767px) {
  .card-set {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 768px) {
  .card-set {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}
@media screen and (min-width: 1200px) {
  .card-set {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding: 60px 0px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0px;
  }
}

.btn-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 8px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 50px;
}
@media screen and (min-width: 768px) {
  .btn-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 767px) {
  .btn-list {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .btn-list {
    margin-bottom: 50px;
  }
}
.btn-list__btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: var(--team-background-color);
  border-radius: 4px;
  color: var(--title-color);
  cursor: pointer;
  border: 0px;
  padding: 6px 22px;
  -webkit-transition-property: color, background-color, border, -webkit-box-shadow;
  transition-property: color, background-color, border, -webkit-box-shadow;
  transition-property: color, background-color, border, box-shadow;
  transition-property: color, background-color, border, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-list__btn:hover, .btn-list__btn:active, .btn-list__btn:focus {
  color: var(--pure-white-color);
  background-color: var(--blue-color-text);
  border: var(--blue-color-text) 4px;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

@media screen and (max-width: 767px) {
  .footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (min-width: 768px) {
  .footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1000;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
  -webkit-transition: opacity 600ms ease-out, visibility 600ms ease-out;
  transition: opacity 600ms ease-out, visibility 600ms ease-out;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  opacity: 0;
  -webkit-transform: translate(-50%, -50%) scale(0.4) rotate(0);
          transform: translate(-50%, -50%) scale(0.4) rotate(0);
}

.modal {
  /* position: relative; */
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1) rotate(0);
          transform: translate(-50%, -50%) scale(1) rotate(0);
  width: 520px;
  height: 580px;
  padding: 40px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  opacity: 1;
  -webkit-transition: opacity 400ms ease-in-out 200ms, -webkit-transform 400ms ease-in-out 200ms;
  transition: opacity 400ms ease-in-out 200ms, -webkit-transform 400ms ease-in-out 200ms;
  transition: transform 400ms ease-in-out 200ms, opacity 400ms ease-in-out 200ms;
  transition: transform 400ms ease-in-out 200ms, opacity 400ms ease-in-out 200ms, -webkit-transform 400ms ease-in-out 200ms;
}
@media screen and (max-width: 1200px) {
  .modal {
    width: 450px;
    height: 610px;
  }
}
.modal__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  padding: 0;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  cursor: pointer;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__btn:hover, .modal__btn:focus {
  fill: var(--blue-color-text);
}

.form-modal {
  text-align: center;
}
.form-modal__title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  display: block;
  text-align: center;
}
.form-modal__group {
  margin-top: 12px;
}
.form-modal__label {
  display: block;
  position: relative;
  margin-bottom: 10px;
}
.form-modal__label:last-child {
  margin-bottom: 0px;
}
.form-modal__text {
  display: block;
  text-align: left;
  margin-bottom: 4px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}
.form-modal__input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 10px;
  padding-left: 40px;
  width: 100%;
  cursor: pointer;
  outline: transparent;
  -webkit-transition-property: border;
  transition-property: border;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.form-modal__input:hover {
  border: 1px solid var(--blue-color-text);
}
.form-modal__input:hover + .form-modal__icon {
  fill: var(--blue-color-text);
}
.form-modal__input:focus-within + .form-modal__icon {
  fill: var(--blue-color-text);
}
.form-modal__input:focus-within {
  border: 1px solid var(--blue-color-text);
}
.form-modal__textarea {
  display: block;
  position: relative;
  margin-bottom: 10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 10px;
  padding-left: 16px;
  width: 100%;
  resize: none;
  height: 120px;
  cursor: pointer;
  outline: transparent;
  -webkit-transition-property: border;
  transition-property: border;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.form-modal__textarea:focus-within {
  border: 1px solid var(--blue-color-text);
}
.form-modal__textarea:hover {
  border: 1px solid var(--blue-color-text);
}
.form-modal__icon {
  position: absolute;
  bottom: 10px;
  left: 12px;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.form-modal__icon__checkmark {
  opacity: 0;
}
.form-modal__agreement {
  margin-top: 20px;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6px;
}
.form-modal__agreement__icon {
  position: absolute;
  margin-left: 15px;
}
.form-modal__agreement__text {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #757575;
  margin-left: 40px;
}
@media screen and (max-width: 1199px) {
  .form-modal__agreement__text {
    font-size: 12px;
    line-height: 1.16;
  }
}
.form-modal__agreement__link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #2196f3;
}
@media screen and (max-width: 1199px) {
  .form-modal__agreement__link {
    font-size: 12px;
    line-height: 1.16;
  }
}
.form-modal__agreement__checkbox:checked + .form-modal__agreement__icon .form-modal__icon__emptymark {
  opacity: 0;
}
.form-modal__agreement__checkbox:checked + .form-modal__agreement__icon .form-modal__icon__checkmark {
  opacity: 1;
}
.form-modal__btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0px;
  padding: 10px 50px;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  cursor: pointer;
  background: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: #2196f3;
  -webkit-transition-property: background, border, -webkit-box-shadow;
  transition-property: background, border, -webkit-box-shadow;
  transition-property: background, border, box-shadow;
  transition-property: background, border, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.form-modal__btn:hover, .form-modal__btn:focus {
  background: #188ce8;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: #188ce8;
}

.social-footer {
  margin: 0;
}
@media screen and (min-width: 1200px) {
  .social-footer {
    margin-right: 93px;
    margin-bottom: 0;
  }
}
@media screen and (max-width: 767px) {
  .social-footer {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 768px) {
  .social-footer {
    margin-bottom: 100px;
  }
}
.social-footer__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--pure-white-color);
}
@media screen and (max-width: 767px) {
  .social-footer__text {
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .social-footer__text {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .social-footer__text {
    text-align: start;
  }
}
.social-footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}
.social-footer__icon {
  fill: var(--pure-white-color);
}
.social-footer__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  background-color: var(--pure-white-color);
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-footer__link:hover {
  background-color: var(--blue-color-text);
}
.social-footer__link:focus {
  background-color: var(--blue-color-text);
}

.social-team {
  background-color: #fff;
}
.social-team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}
.social-team__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  background-color: var(--pure-white-color);
  border-radius: 50%;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-team__link:hover {
  background-color: var(--blue-color-text);
}
.social-team__link:focus {
  background-color: var(--blue-color-text);
}
.social-team__link:focus .social-team__icon {
  fill: var(--pure-white-color);
}
.social-team__link:hover .social-team__icon {
  fill: var(--pure-white-color);
}
.social-team__icon {
  fill: var(--logo-color--);
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background-color: rgba(25, 28, 38, 0.2);
  -webkit-transition: opacity 600ms ease-out, visibility 600ms ease-out;
  transition: opacity 600ms ease-out, visibility 600ms ease-out;
}
@media screen and (min-width: 768px) {
  .menu-overlay {
    display: none;
  }
}

.menu-overlay.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.menu-overlay.is-open {
  opacity: 1;
  pointer-events: initial;
  visibility: visible;
}

.menu-overlay.is-open .menu-container {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.menu-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
  padding: 118px 40px;
  margin-left: auto;
  width: 100%;
  height: 100%;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}
.menu-container__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  padding: 0;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  cursor: pointer;
  border: none;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-container__btn:hover, .menu-container__btn:focus {
  fill: var(--blue-color-text);
}

.menu-mobile {
  margin-bottom: auto;
}
.menu-mobile__item {
  margin-bottom: 32px;
}
.menu-mobile__item:last-child {
  margin-bottom: 0px;
}
.menu-mobile__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #212121;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-mobile__link:hover, .menu-mobile__link:focus {
  color: var(--blue-color-text);
}

.menu-contacts {
  margin-bottom: 64px;
}
.menu-contacts__item {
  margin-bottom: 32px;
}
.menu-contacts__item:last-child {
  margin-bottom: 0px;
}
.menu-contacts__link {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: #757575;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-contacts__link:hover, .menu-contacts__link:focus {
  color: var(--blue-color-text);
}

.menu-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
}
.menu-social__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
.menu-social__item:last-child {
  border: none;
}
.menu-social__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  /* identical to box height, or 122% */
  letter-spacing: 0.02em;
  color: #2196f3;
}

.menu-btn {
  margin-left: auto;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .menu-btn {
    display: none;
  }
}
.menu-btn:hover, .menu-btn:focus {
  fill: var(--blue-color-text);
}

.header {
  background-color: var(--pure-white-color);
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #ececec;
}
@media screen and (min-width: 768px) {
  .header {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--blue-color-text);
  margin-right: 90px;
}
.header__logo__studio {
  color: var(--black-color-text);
}

.header-nav {
  margin-right: auto;
}
@media screen and (max-width: 767px) {
  .header-nav {
    display: none;
  }
}
.header-nav__current {
  position: relative;
  color: var(--blue-color-text);
}
.header-nav__current::after {
  content: "";
  position: absolute;
  bottom: -32px;
  left: 0;
  display: block;
  height: 4px;
  width: 100%;
  background-color: #2196f3;
  border-radius: 2px;
}
.header-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (min-width: 768px) {
  .header-nav__list {
    margin-left: auto;
  }
}
@media screen and (min-width: 768px) {
  .header-nav__list__flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (min-width: 1200px) {
  .header-nav__list__flex {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.header-nav__item {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-color);
  margin-right: 50px;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header-nav__item:last-child {
  margin-right: 0;
}
.header-nav__item:hover,
.header-nav__item .header-nav__link:focus {
  color: var(--blue-color-text);
}
@media screen and (max-width: 767px) {
  .header-nav__link {
    display: none;
  }
}
.header-nav__contacts {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);
  margin-right: 50px;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header-nav__contacts:hover, .header-nav__contacts:focus {
  color: var(--blue-color-text);
}
.header-nav__contacts:hover .header-nav__icon {
  fill: var(--blue-color-text);
}
.header-nav__contacts:focus .header-nav__icon {
  fill: var(--blue-color-text);
}
@media screen and (min-width: 767px) {
  .header-nav__contacts {
    font-size: 12px;
    line-height: 1.16;
    margin-right: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .header-nav__contacts {
    font-size: 14px;
    line-height: 1.14;
    margin-right: 50px;
  }
}
.header-nav__icon {
  fill: #757575;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-section {
  background: var(--main-background-color);
  padding: 200px 0;
}
.hero-section__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.hero-section__img {
  background-repeat: no-repeat;
  background-position: center;
  margin-right: auto;
  margin-left: auto;
  display: block;
  max-width: 100%;
  padding-top: 118px;
  padding-bottom: 118px;
}
@media screen and (max-width: 767px) {
  .hero-section__img {
    height: 400px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-img/Hero-img@1x-sm.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-img/Hero-img@1x-sm.jpg);
  }
}
@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .hero-section__img {
    background-image: url(../images/hero-img/Hero-img@2x-sm.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero-section__img {
    height: 400px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-img/Hero-img@1x-md.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-img/Hero-img@1x-md.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero-section__img {
    background-image: url(../images/hero-img/Hero-img@2x-md.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero-section__img {
    height: 600px;
    padding-top: 200px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-img/Hero-img@1x-lg.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-img/Hero-img@1x-lg.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero-section__img {
    background-image: url(../images/hero-img/Hero-img@2x-sm.jpg);
  }
}
.hero-section__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--pure-white-color);
  text-align: center;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .hero-section__title {
    font-size: 44px;
    line-height: 1.4;
  }
}
.hero-section__btn {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  color: var(--pure-white-color);
  background: var(--blue-color-text);
  cursor: pointer;
  letter-spacing: 0.06em;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: #2196f3 solid;
  padding: 10px 32px;
  -webkit-transition-property: background-color, border, -webkit-box-shadow;
  transition-property: background-color, border, -webkit-box-shadow;
  transition-property: background-color, box-shadow, border;
  transition-property: background-color, box-shadow, border, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-section__btn:hover, .hero-section__btn:focus {
  background: #188ce8;
  border: #188ce8 solid;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.underbox {
  background: var(--pure-white-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .underbox {
    padding-top: 94px;
  }
}
.underbox__list {
  display: block;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  gap: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .underbox__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .underbox__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    gap: 30px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.underbox__list__item {
  width: 100%;
}
.underbox__list__item:last-child {
  margin-bottom: 0px;
}
@media screen and (max-width: 767px) {
  .underbox__list__item {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .underbox__list__item {
    margin-bottom: 0;
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .underbox__list__item {
    width: 270px;
  }
}
.underbox__list__title {
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .underbox__list__title {
    text-align: start;
  }
}
@media screen and (min-width: 1200px) {
  .underbox__list__title {
    text-align: start;
  }
}
.underbox__list__text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
.underbox__list__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
  width: 100%;
}
@media screen and (min-width: 1200px) {
  .underbox__list__icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 30px;
    width: 100%;
  }
}
.underbox__list__background {
  background-color: var(--team-background-color);
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .underbox__list__background {
    background-color: var(--team-background-color);
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 30px;
  }
}

.box-section {
  background: var(--pure-white-color);
  padding-top: 0px;
}
@media screen and (max-width: 1200px) {
  .box-section {
    display: none;
  }
}
.box-section__title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}
.box-section__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.box-section__item-title {
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
  padding: 27px 82px;
  width: 100%;
  z-index: 120;
  position: absolute;
  bottom: 0;
}

.team-section {
  background: var(--team-background-color);
}
.team-section__img {
  display: block;
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
@media screen and (max-width: 767px) {
  .team-section__img {
    width: 450px;
    height: 460px;
  }
}
@media screen and (min-width: 768px) {
  .team-section__img {
    width: 354px;
    height: 374px;
  }
}
@media screen and (min-width: 1200px) {
  .team-section__img {
    width: 270px;
    height: 260px;
  }
}
.team-section__back {
  background-color: var(--pure-white-color);
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 5px;
  padding-right: 5px;
}
.team-section__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.team-section__shadow {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-section__h2title {
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}
@media screen and (max-width: 767px) {
  .team-section__h2title {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .team-section__h2title {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .team-section__h2title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.2;
  }
}
.team-section__h3title {
  padding-bottom: 10px;
}
.team-section__h3title {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}
.team-section__text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
.team-section__text {
  margin-bottom: 16px;
}

.client-section {
  background-color: #fff;
  /* Client Icons */
}
.client-section__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}
@media screen and (max-width: 767px) {
  .client-section__title {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .client-section__title {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .client-section__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.16;
  }
}
.client-section__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}
@media screen and (min-width: 1200px) {
  .client-section__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 30px;
  }
}
.client-section__icon {
  fill: var(--logo-color--);
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.client-section__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 210px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .client-section__link {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .client-section__link {
    width: 170px;
  }
}
.client-section__link:hover .client-section__icon {
  fill: var(--blue-color-text);
}
.client-section__link:hover {
  border-color: var(--blue-color-text);
}
.client-section__link:focus .client-section__icon {
  fill: var(--blue-color-text);
}
.client-section__link:focus {
  border-color: var(--blue-color-text);
}

.grid {
  --items: 9;
}
.grid__link {
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.grid__link:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
@media screen and (min-width: 768px) {
  .grid__link {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .grid__link {
    width: 370px;
  }
}
.grid__flexbox {
  padding-top: 20px;
  padding-bottom: 20px;
  outline: 1px solid #eeeeee;
  padding-right: 24px;
  padding-left: 24px;
}
.grid__title {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
}
.grid__text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
@media screen and (min-width: 768px) {
  .grid__text__first {
    padding-bottom: 35px;
  }
}
@media screen and (min-width: 1200px) {
  .grid__text__first {
    padding-bottom: 0px;
  }
}
.grid__item {
  position: relative;
  overflow: hidden;
}
.grid__item:hover .grid__overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
@media screen and (max-width: 767px) {
  .grid__item__img {
    width: 450px;
    height: 294px;
  }
}
@media screen and (min-width: 768px) {
  .grid__item__img {
    width: 354px;
    height: 294px;
  }
}
@media screen and (min-width: 1200px) {
  .grid__item__img {
    width: 370px;
    height: 294px;
  }
}
.grid__overlay {
  background-color: rgba(33, 150, 243, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateY(150%);
          transform: translateY(150%);
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}
.grid__overlay__text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-align: left;
}

.footer-section {
  background: var(--main-background-color);
  padding-top: 60px;
}
@media screen and (max-width: 767px) {
  .footer-section__div {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 768px) {
  .footer-section__div {
    margin-right: 165px;
    margin-bottom: 60px;
    text-align: center;
  }
}
@media screen and (min-width: 768px) and (min-width: 1200px) {
  .footer-section__div {
    margin-right: 70px;
  }
}
.footer-section__logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--blue-color-text);
}
.footer-section__logo__studio {
  color: var(--pure-white-color);
}
@media screen and (max-width: 767px) {
  .footer-section__logo {
    text-align: center;
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .footer-section__logo {
    text-align: start;
  }
}
.footer-section__text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--pure-white-color);
  margin-top: 20px;
  margin-bottom: 10px;
  width: 210px;
}
.footer-section__contacts {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-section__contacts:hover, .footer-section__contacts:focus {
  color: var(--blue-color-text);
}
@media screen and (min-width: 768px) {
  .footer-section__contacts {
    font-size: 12px;
    line-height: 1.16;
  }
}
.footer-section__item {
  margin-bottom: 10px;
}
.footer-section__item:last-child {
  margin-bottom: 0px;
}
.footer-section__address {
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer-section__address {
    text-align: start;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.footer-form__text {
  text-align: center;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .footer-form__text {
    text-align: start;
  }
}
.footer-form__input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.6);
  background-color: var(--main-background-color);
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  padding-right: 16px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  width: 100%;
  height: 50px;
  cursor: pointer;
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .footer-form__input {
    min-width: 358px;
    max-width: 358px;
    margin-bottom: 0;
    margin-right: 12px;
  }
}
.footer-form__btn {
  width: 200px;
  height: 50px;
  background: var(--blue-color-text);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: var(--blue-color-text);
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  cursor: pointer;
}
.footer-form__icon {
  fill: #ffffff;
  position: relative;
  top: 5px;
  right: -10px;
}
.footer-form__section {
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer-form__section {
    width: 580px;
    height: 87px;
    text-align: start;
  }
}/*# sourceMappingURL=main.css.map */