/* General */

:root {
    --main-font-family: "Roboto";
    --secondary-font-family: "Raleway";
    --title-color: #212121;
    --text-color: #757575;
    --main-background-color: #2f303a;
    --blue-color-text: #2196f3;
    --black-color-text: #000000;
    --secondary-background-color: #e5e5e5;
    --team-background-color: #f5f4fa;
    --pure-white-color: #ffffff;
    --another-white-color: #ececec;
    --logo-color--: #afb1b8;

    /* formula */

    --indent: 30px;
    --items: 4;
}
