
.client-section {
    background-color: #fff;
    
    &__title {
        font-weight: 700;
        font-size: 28px;
        line-height: 1.17;
        text-align: center;
        letter-spacing: 0.03em;
    
        color: var(--title-color);

@media screen and (max-width:767px) {
        margin-bottom: 30px;
    }


@media screen and (min-width: 768px) {
    margin-bottom: 30px;
}


       @media screen and (min-width:1200px) {
          margin-bottom: 50px;
            font-size: 36px;
            line-height: 1.16;
       }

    }
    
    /* Client Icons */
    
    &__list {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap ;
        gap: 30px;


        @media screen and (min-width: 1200px)  {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 30px;
        }
    }
    
    &__icon {
        fill: var(--logo-color--);
        transition-property: fill;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    &__link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 210px;
        height: 92px;
        border: 1px solid #afb1b8;
        border-radius: 4px;

        @media screen and (min-width:768px){
            width: 226px;
        }


        @media screen and (min-width: 1200px) {
           width: 170px; 
        }
    
        transition-property: background-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        
        &:hover .client-section__icon {
            fill: var(--blue-color-text);
        }
        
        &:hover {
            border-color: var(--blue-color-text);
        }
        
        &:focus .client-section__icon {
            fill: var(--blue-color-text);
        }
        
        &:focus {
            border-color: var(--blue-color-text);
        }
    }
}


