

.header-nav {



    @media screen and (max-width: 767px) {
        display: none;
    }
    margin-right: auto;
    
    &__current {
        position: relative;
        color: var(--blue-color-text);
    
    
        &::after {
            content: "";
        
            position: absolute;
            bottom: -32px;
            left: 0;
        
            display: block;
            height: 4px;
            width: 100%;
        
            background-color: #2196f3;
            border-radius: 2px;
        }
    }

    &__list {
        display: flex;

        @media screen and (min-width: 768px) {

            margin-left: auto;
            
        }
        
        &__flex {
            
            @media screen and (min-width: 768px) {
                
                display: flex;
                flex-direction: column;
            }


            @media screen and(min-width: 1200px) {
                
                flex-direction: row;
            }
        }

    }
    
    &__item {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: var(--title-color);
        margin-right: 50px;
        
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        
        &:last-child {
            margin-right: 0;
        }
        
        &:hover,
        .header-nav__link:focus {
            color: var(--blue-color-text);
        }
    }
    
     &__link {
        @media screen and (max-width:767px) {
            display: none;
        }
     }


    &__contacts {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: var(--text-color);
        margin-right: 50px;
        
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        
        
        &:hover,
        &:focus {
            color: var(--blue-color-text);
        }
            &:hover .header-nav__icon {
                fill: var(--blue-color-text);
            }
            
            &:focus .header-nav__icon {
                fill: var(--blue-color-text);
            }


            @media screen and (min-width: 767px) {
                font-size: 12px;
                line-height: 1.16;
                margin-right: 0px;
            }
          

            @media screen and (min-width: 1200px) {

            font-size: 14px;
                line-height: 1.14;

                margin-right: 50px;
            }
    }


    &__icon {
        fill: #757575;
        transition-property: fill;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }


 



}




