.underbox {
    background: var(--pure-white-color);

padding-top: 60px;
padding-bottom: 60px;

@media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
    
}

    
    &__list {
                        
        display: block;                   
        align-items: baseline;                   
        gap: 30px;                   
        justify-content: space-between;



    @media screen and (min-width: 1200px) {
                display: flex;
                    align-items: baseline;
                    gap: 30px;
                    justify-content: space-between;
    }


        &__item {
            width: 100%;

            @media screen and (min-width: 1200px) {
                
                width: 270px;
            }

            
        }
        
         &__title {


            text-align: center;

            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 1.1;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            color: var(--title-color);
            margin-bottom: 10px;


            @media screen and (min-width: 1200px) {

             text-align: start;   

            }


            
        }
        
         &__text {
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 1.7;
            letter-spacing: 0.03em;
            color: var(--text-color);
        }

        &__icon {


                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 30px;
                    width: 100%;
    
        @media screen and (min-width: 1200px) {
    
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 30px;
                        width: 100%;
        }
   
        }

        &__background {

            background-color: var(--team-background-color);
            padding-top: 25px;
            padding-bottom: 25px;
            margin-bottom: 30px;

            
        @media screen and (min-width: 1200px) {
        
            background-color: var(--team-background-color);
            padding-top: 25px;
            padding-bottom: 25px;
            margin-bottom: 30px;
            }
        }

    }

}




