.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 60px;


    @media screen and (min-width: 767px) {

        flex-direction: row;
        flex-wrap: wrap;
        
    }


    @media screen and (min-width: 1200px) {

            display: flex;
                justify-content: baseline;
                align-items: baseline;
                gap: 60px;
    }
}