.social-footer {
    margin: 0;
    


    @media screen and (min-width: 1200px) {
        margin-right: 93px;
        margin-bottom: 0;
        
    }
    @media screen and (min-width: 480px) {
        margin-bottom: 60px;
    }


    @media screen and (min-width: 767px) {
        // padding-bottom: 100px;
        // padding-top: 60px;

        margin-bottom: 100px;
    }
    
    &__text {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        margin-bottom: 20px;
    
        color: var(--pure-white-color);

        @media screen and (min-width: 480px) {
            text-align: center;

        }

        @media screen and(min-width: 767px) {
            text-align: center;
        }


        @media screen and (min-width: 1200px) {
            text-align: start;
        }

    }
    
    
    &__list {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }
    
    &__icon {
        fill: var(--pure-white-color);
    }
    
    
    &__link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 44px;
        height: 44px;
        background-color: var(--pure-white-color);
        border-radius: 50%;
        background: rgba(255, 255, 255, 0.1);
        
        transition-property: background-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        &:hover {
            background-color: var(--blue-color-text);
        }
        
        &:focus {
            background-color: var(--blue-color-text);
        }
    }
}


